html {
  background: url("../reflection.jpg") center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: beige;
}

.container {
  padding-top: 15%;
}

.container .header .text {
  margin: 0 auto;
}

.header {
  background-color: rgba(19, 23, 20, 0.78);
  opacity: .6;
  height: 700px;
  display: block;
  width: 100%;
}

.header h1 {
  color: beige;
  font-size: 325%;
  text-align: center;
  padding-top: 6%;
  /*opacity: .6;*/
  margin-bottom: 0;
}

.about_me {
  text-align: left;
  color: beige;
}

.about_me .text {
  font-size: 150%;
  padding-top: 3%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.images {
  padding: 3%;
  text-align: center;
}

.images img {
  padding-top: 4%;
  padding-left: 4%;
  padding-right: 4%;
}

.navigation {
  /*background-color: rgba(19, 23, 20, 0.78);*/
  height: 100px;
  width: 100%;
  display: inline-block;
  margin: 0;
  position: relative;
  float: none;
  text-align: center;
  /*opacity: .6;*/
}

.navigation ul {
  padding: 0;
}

.navigation li {
  display: inline-block;
  padding: 20px;
}

.navigation a {
  color: beige;
  font-family: serif;
  font-size: 20px;
  display: inline-block;
  border: 2px solid beige;
  height: 25px;
  width: 90px;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  margin: 0 auto;
}

.navigation a:hover {
background: rgba(2, 5, 14, 0.56);
}

.space {
  height: 275px;
}

.footer {
  background-color: rgba(19, 23, 20, 0.78);
  opacity: .6;
  display: block;
  width: 140px;
  height: 70px;
}

a, a:hover {
    text-decoration: none;
}

.social_links, .social_links ul, .social_links li {
    margin: 0;
    padding: 5px;
}

.social_links li {
    list-style: none outside none;
    display: inline-block;
}

.social_links .fa {
  width: 30px;
  height: 28px;
  color: #000;
  background-color: #FFF;
  border: 1px solid #000;
  padding-top: 12px;
  border-radius: 22px;
  padding-left: 12px;
}

.social_links .fa:hover {
  color: #FFF;
  background-color: #000;
  border: 1px solid #000;
}

.footer_space {
  padding-bottom: 3%;
}
