html {
  background: url("../bellsbeach2copy.jpg") center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

body{
  margin: 0;
  font-family: sans-serif;
}

.container {
  padding-top: 15%;
}

/*.container .header .text {
  margin: 0 auto;
}*/

.header {
  background-color: rgba(19, 23, 20, 0.78);
  opacity: .6;
  height: 400px;
  display: block;
  width: 100%;
}

.intro {
  /*text-align: left;*/
}

.header h1 {
  color: beige;
  font-size: 325%;
  text-align: center;
  padding-top: 6%;
}

.intro p {
  color: beige;
  font-size: 180%;
  padding-top: 2%;
  /*padding-bottom: 1%;*/
  margin-left: auto;
  margin-right: auto;
  width: 32%;
  margin: 0;
  padding-left: 34%;
  position: relative;
  display: inline;
  /*text-align: center;*/
}

.intro span {
  color: beige;
  font-size: 180%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.intro .text1 {
  padding-left: 34%;
}

.rotating_word {
  display: inline;
  text-indent: 10px;
  position: relative;
}

.rotating_word span {
  position: absolute;
  padding-bottom: .5%;
  opacity: 0;
  overflow: hidden;
  width: 500px;
  color: beige;
  animation: rotateWordsFirst 18s linear infinite 0s;
}

.rotating_word span:nth-child(2) {
  animation-delay: 3s;
  color: beige;
}

.rotating_word span:nth-child(3) {
  animation-delay: 6s;
  color: beige;
}

.rotating_word span:nth-child(4) {
  animation-delay: 9s;
  color: beige;
}

.rotating_word span:nth-child(5) {
  animation-delay: 12s;
  color: beige;
}

.rotating_word span:nth-child(6) {
  animation-delay: 15s;
  color: beige;
}

@keyframes rotateWordsFirst {
    0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    19% { opacity: 1; height: 60px; }
	25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
}

.navigation {
  height: 100px;
  width: 100%;
  display: inline-block;
  margin: 0;
  padding-top: 1%;
  position: relative;
  float: none;
  text-align: center;
}

.navigation ul {
  padding: 0;
}

.navigation li {
  display: inline-block;
  padding: 20px;
}

.navigation a {
  color: beige;
  font-family: serif;
  font-size: 20px;
  display: inline-block;
  border: 2px solid beige;
  height: 25px;
  width: 90px;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  margin: 0 auto;
}

.navigation a:hover {
background: rgba(2, 5, 14, 0.79);
}

.space {
  height: 275px;
}

.footer {
  background-color: rgba(19, 23, 20, 0.78);
  opacity: .6;
  display: block;
  width: 140px;
  height: 70px;
}

a, a:hover {
    text-decoration: none;
}

.social_links, .social_links ul, .social_links li {
    margin: 0;
    padding: 5px;
}

.social_links li {
    list-style: none outside none;
    display: inline-block;
}

.social_links .fa {
  width: 30px;
  height: 28px;
  color: #000;
  background-color: #FFF;
  border: 1px solid #000;
  padding-top: 12px;
  border-radius: 22px;
  padding-left: 12px;
}

.social_links .fa:hover {
  color: #FFF;
  background-color: #000;
  border: 1px solid #000;
}

.footer_space {
  padding-bottom: 3%;
}
